body {
	font-size: 16px;
	color:#fff;
	background-color: lightblue;
}


#header-nav {
	background-color: black;
}

.navbar-brand {
	background-color: lightgray;
	font-weight:bold;
}
#collapsable-nav {
	background-color: gold;
	margin-top:50px;
	text-align: center;
}
.text-center{
	font-weight:bold;
	color: black;
}

#box1, #box2, #box3 {
	margin-top: 20px;
	background-color: lightgreen;
}

 #chicken, #beef, #sushi {
 	text-align: center;
 	color: white;
 }